<!DOCTYPE html>

<html>

<head>
    <link rel="icon" href="/pic/icon3.png">
    <title>About</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <div class="main-content">
        {{!-- <h1>{{title}}</h1> --}}
         {{>header}}
    <!-- <img src="/img/me.png"> -->
         <img class="potrait" src="pic/me.jpg">
    {{!-- <p>Created by {{name}}</p> --}}
    </div>
    
    {{>footer}}
</body>

</html>